
body {
    margin: 10px;
    font-size: 1.5em;
}

.padding {
    padding: 0 20px;
}

div{
    box-sizing: border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    width: 100%;
}

.one {
    background-color: red;
}

.second {
    background-color: orange;
}

.third {
    background-color: deepskyblue;
}

.fourth {
    background-color: lightgreen;
}

.fifth {
    background-color: deeppink;
}

.one2 {
    background-color: darkred;
}

.second2 {
    background-color: darkorange;
}

.third2 {
    background-color: blue;
}

.fourth2 {
    background-color: green;
}

.fifth2 {
    background-color: darkmagenta;
}

.footer2 {
    background-color: darkgoldenrod;
}

.float-left {
    float: left;
    height: 320px;
    width: 33.3%;
}

.float-right {
    float: right;
    height: 120px;
    width: 33.3%;
}

.clear:after {
    clear: both;
    content: '';
    display: table;
}

.footer {
    height: 180px;
    background-color: yellow;
}

.max-width {
    width: 1500px;
    margin: 0 auto;
}
.first {
    background-color: blu;
}
span.first {
    color: white;
    background-color: black;
}
div.first {
    color: black;
}


